body{
    background-color: rgb(87, 118, 253);
}

img{
    width: 190px ;
    border-left: black solid 5px;
    border-bottom: black solid 5px;
    border-bottom-left-radius: 15px;
}

div {
    font-family: cursive;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-size: 24px;
    color: #000000;
    padding: 10px;
    border: 5px solid #000000;
}

h2{
    font-size: 20px;
    color: #000000;
    margin: 35px 20px;
}

h3{
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    padding: 10px 0;
    margin-top: 30px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

p{
    font-size: 18px;
    text-align: justify;
    line-height: 32px;
    color: #000000;
    margin-bottom: 35px;

}

span{
    font-weight: bold;
}

a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 15px;
    color: #ffffff;
    background-color: green;
    border-radius: 25px;
}